*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: saddlebrown;

  background-image: url('../imagens/Imagem\ Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header, main {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

header {
  background-color:  rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  
main section {
  background-color:  rgba(255, 255, 255, 0.9);
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1{
  color: #2c5b8c;
  margin-bottom: 15px;
  font-size: 50px;
}

h2 {
  color: #2c5b8c ;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom:  2px solid #e0e0e0;;
}

p {
  margin-bottom: 15px;
  text-align: justify;
}

strong {
  color: #333;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}

.galeria-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);;
}

.mapa-container iframe {
  display: block;
  width: 100%;
}
footer {
  width: 100%;
  color: saddlebrown;
  text-align: center;
  padding: 25px 20px;
  margin-top: auto; 
}

.social-icons {
  margin-bottom: 15px;
}

.social-icons a {
    color: #2c5b8c;
    font-size: 1.8rem; 
    margin: 0 15px; 
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block; 
}

.social-icons a: :hover {
  color:  #3e7d5a ; 
  transform: translateY(-3px); 
} 

.copyright {
  font-size: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  height: 150px;
  width: auto;
  margin: 0 0.5em;
  vertical-align: middle;
}

@media (max-width: 768px){

body{ 
  padding: 15px;
}
header, main {
  padding: 15px;
}
h1 {
  font-size: 10px;
}
.galeria-container{
  grid-template-columns: 1fr;
}
p {
  text-align: left;
}
}


  
